<nav class='row'>
  <h2 class='four-fifth'>Hangman</h2>
  <div class="fifth">
    <button {{action "newGame"}}>New Game</button>
  </div>
</nav>

<div id='main' class='row'>
  <div id="game-board" class="four-fifth">
    {{#unless gameOver}}
      <form {{action 'playLetter' on='submit'}}>
        <label>Guess a letter: {{input value=currentGuess maxlength=1 min=1 disabled=disabled}}</label>
      </form>

      <ul>
        {{#each letter in shownLetters}}
          <li>{{letter}}</li>
        {{/each}}
      </ul>
    {{/unless}}

    {{#if gameOver}}
      <div id="game-over">
        <h1>Game Over</h1>
        {{#if isWinner}}
          <h2 class='winner'>You Won!</h2>
        {{/if}}
        {{#if isLoser}}
          <h2 class='loser'>You Lost!</h2>
        {{/if}}
        <button {{action "newGame"}}>Play Again</button>
      </div>
    {{/if}}
  </div>

  <div id="sidebar" class="fifth">
    <div class="row">
      <div class="full">
        Remaining: {{remaining}}
      </div>
    </div>

    <div class="row">
      <div class="full">
        <h3>Missed Letters</h3>
        <ul>
          {{#each letter in badLetters}}
            <li>{{letter}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
